/* 
    Document   : styles.css
    Created on : 26.11.2013, 11:23:18
    Author     : petr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#main-menu { padding: 0px; border-radius: 10px; border: 1px #000000 solid; }
#main-menu .navigation { margin: 5px; padding: 0px; }
#main-menu .navigation li { display: inline; text-align: center; font-size: 14pt; font-variant: small-caps; border-right: 1px #000000 solid; margin: 5px 0px; padding-right: 15px; padding-left: 15px }
#main-menu .navigation li:last-child { border: 0; }

.required { font-weight: bolder; }
.info-table tr td:first-child { font-style: italic; }
.info-table tr td:last-child { font-weight: bolder; }
.info-table tr td { margin: 0; padding: 5px 15px 5px 5px; }