
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteCond %{REQUEST_FILENAME} previews/.*.(jpeg|JPEG|jpg|JPG)
RewriteRule ^.*$ /images/no_preview.png [L]

RewriteRule ^.*$ index.php [NC,L]
